* {
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}
a,
button {
  text-decoration: none;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.logo {
  font-family: 'Railway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.logo-accent {
  color: #4d5ae5;
}

.logo-footer {
  color: #f4f4fd;
}

.navigation {
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus-visible,
.nav-address-link:hover,
.nav-address-link:focus-visible {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

.hero-order-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
}
.hero-order-btn:hover,
.hero-order-btn:focus-visible {
  background-color: #404bbf;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
} */
.portfolio-name, .team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team {
  background-color: #f4f4fd;
}
.team-member {
  background-color: #ffffff;
}
.team-member-desc {
  text-align: center;
}
footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #ffffff;
}
